/* RESETEO GENERAL */
*{
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

li{
    list-style-type: none;
    display: flex;
    background-color: hsla(0, 6%, 93%, 0.836);
    margin: 3px 0;
    padding: 2px 5px;
    border-radius: 3px;
    justify-content: space-between;
}



h1{
    text-align: center;
    font-weight: 800;
    margin-top: 3%;
}

.parrafo__principal{
    margin: 2% 10% 3%;
    text-align: center;
}

/* CONTENEDOR PRINCIPAL*/
.primer-contenedor{
    display: flex;
    margin: 0 10%;
    justify-content: space-between;
}

/* DONDE SE AGREGAN LAS TAREAS */
.contenedor__tareas{
    display: flex;
    flex-direction: column;
    text-align: center;
    border: 1px solid #464EA0;
    box-shadow: 0px 1.5px 1.5px 1px rgba(178, 178, 179, 0.502);
    padding: 1rem;
    font-size: 20px;
    height: fit-content;
}

/* DONDE MUESTRA LAS TAREAS */
.contenedor__cuadro-porHacer{
    display: flex;
    flex-direction: column;
    width: 45vw;
    height: fit-content;
    padding: 1rem;
    margin-bottom: 5%;
    margin-left: 20px;
    border: 1px solid #F5C666;
    box-shadow: 0px 1.5px 1.5px 1px rgba(178, 178, 179, 0.502);
}

.boton-borrar, .formulario__boton{
    width: 8rem;
    padding: 3px;
    margin: 5% 30% 0;
    align-self: center;
}

.input {
    padding: 3px 7px;
}

/* ACÁ COMIENZAN LOS CUADROS */
.segundo-contenedor{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 3% 10% 5%;
}

/* CONT. NOMBRE DE LA TAREA */
.contenedor__cuadro-tareas{
    display: flex;
    flex-direction: column;
    padding: 2rem;
    border: 1px solid #1899D2;
    border-radius: 3px;
    box-shadow: 0px 1.5px 1.5px 1px rgba(178, 178, 179, 0.502);
}

/* CONT. TIEMPO DE LA TAREA */
.contenedor__cuadro-tiempo{
    display: flex;
    flex-direction: column;
    padding: 2rem;
    border: 1px solid #F25032;
    border-radius: 3px;
    box-shadow: 0px 1.5px 1.5px 1px rgba(178, 178, 179, 0.502);
}
.contenedor__reloj{
    font-size: xx-large;
    text-align: center;
}
.contenedor__boton{
    padding: 3px;
    margin: 9px;
}

.seccion{
    display: flex;
    justify-content: center;
}

/* CONT. FINALIZADO */
.contenedor__cuadro-finalizado{
    display: flex;
    flex-direction: column;
    padding: 1rem 1rem 2rem;
    border: 1px solid #66B95F;
    border-radius: 3px;
    box-shadow: 0px 1.5px 1.5px 1px rgba(178, 178, 179, 0.502);
}


/* ACÁ ESTÁN LOS ESTILOS DE LOS ELEMENTOS AGREGADOS EN JS */
.texto-resaltado{
    color: #F25032;
}

.alerta-usuario{
    color: #F25032;
    font-size: 15px;
}

.borrar-item{
    background-color: #F25032;
    border: #f33615;
    margin: 3px 0 3px 5px;
    padding: 0 5px;
    border-radius: 3px;
}

.borrar-item:hover{
    background-color: #ee2400;
    cursor: pointer;
    color: white;
}

.llevando-a-cabo{
    font-size: x-large;
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

/* MEDIA QUERY */
@media only screen and (max-width: 1024px){
    .primer-contenedor{
        flex-direction: column;
        margin: auto 5%;
    }

    .contenedor__cuadro-porHacer{
        margin-top: 1rem;
        width: auto;
        margin-left: 0;
    }

    .segundo-contenedor{
        margin: auto 5% 5%;
    }

    .contenedor__cuadro-finalizado{
        margin-top: 1rem;
        width: auto;
    }

}
